
[Unit]
Description=Taxplorer UWSGI Server
After=syslog.target

[Service]
ExecStart=uwsgi --master --http :5000 --gevent 1000 --http-websockets --module main:web_app --logto /var/log/taipy/taipy_uwsgi.log
WorkingDirectory=/home/nicog/_work/d4g/12_taxobservatory_dataviz/app
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User=nicog

[Install]
WantedBy=multi-user.target

