
.viz {
    background-color:#ffffff;
    border-radius: 20px;
    font-size: 24px;
    align-items: center;
    padding:5%;
    justify-content: center;
}
/*
.parent {
    width:100%;
    display: flex;
}

.child {
    display: inline-block;
    align-items: center;
}*/

.download_button {
    width: 15px;
    display:
    inline-flex;
    vertical-align: middle;
    margin:auto;
}

.round2 {
    background: #B8BEDB;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    margin:auto;
}

.round3 {
    background: rgba(0,0,0,0.0);
    width: 100%;
    margin:auto;
}

.round {
    background: #B8BEDB;
    gap: 10px;
    -webkit-text-fill-color:#021978;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin:auto;
    gap: 10px;
}

.viz_text_blue {
    color: #021978;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.viz_title{

    /* Title */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: left;

}

.viz_sub_title {
    /* Title */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}